In [17]:
import numpy as np
import pandas as pd
from scipy import stats

In [18]:
ls

 Volume in drive C is OS
 Volume Serial Number is 3A3B-B1C3

 Directory of C:\Users\Dell\EXCELR

14-10-2022  12:29    <DIR>          .
12-10-2022  14:12    <DIR>          ..
14-10-2022  12:17    <DIR>          .ipynb_checkpoints
12-10-2022  22:08    <DIR>          Assignment
07-10-2022  12:04           103,983 BEML.csv
11-10-2022  08:12            87,155 beml_df.csv
11-10-2022  09:04            12,006 Confidence Interval.ipynb
07-10-2022  12:04           107,633 GLAXO.csv
11-10-2022  08:12            88,939 glaxo_df.csv
13-10-2022  08:25             9,835 Hypothesis Test.ipynb
04-10-2022  07:05            72,235 introduction to python_somnath_sir.ipynb
14-10-2022  08:57            50,576 iris practice.ipynb
14-10-2022  08:17             3,858 iris.csv
10-10-2022  23:08           313,762 normal distribution practice.ipynb
14-10-2022  08:47    <DIR>          original
07-10-2022  07:43             6,781 python homework.ipynb
14-10-2022  12:29            14,932 Untitled.ipynb
              12 File(s)        871,695 bytes
               5 Dir(s)  190,766,809,088 bytes free

In [43]:
df=pd.read_csv('iris.csv')

In [20]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:
# H0= petal width are equal
# H1= petal width are not equal

df_setosa=df[df['species']=='setosa']['petal_width']
df_setosa

0     0.2
1     0.2
2     0.2
3     0.2
4     0.2
5     0.4
6     0.3
7     0.2
8     0.2
9     0.1
10    0.2
11    0.2
12    0.1
13    0.1
14    0.2
15    0.4
16    0.4
17    0.3
18    0.3
19    0.3
20    0.2
21    0.4
22    0.2
23    0.5
24    0.2
25    0.2
26    0.4
27    0.2
28    0.2
29    0.2
30    0.2
31    0.4
32    0.1
33    0.2
34    0.2
35    0.2
36    0.2
37    0.1
38    0.2
39    0.2
40    0.3
41    0.3
42    0.2
43    0.6
44    0.4
45    0.3
46    0.2
47    0.2
48    0.2
49    0.2
Name: petal_width, dtype: float64

In [22]:
df_versicolor=df[df['species']=='versicolor']['petal_width']
df_versicolor

50    1.4
51    1.5
52    1.5
53    1.3
54    1.5
55    1.3
56    1.6
57    1.0
58    1.3
59    1.4
60    1.0
61    1.5
62    1.0
63    1.4
64    1.3
65    1.4
66    1.5
67    1.0
68    1.5
69    1.1
70    1.8
71    1.3
72    1.5
73    1.2
74    1.3
75    1.4
76    1.4
77    1.7
78    1.5
79    1.0
80    1.1
81    1.0
82    1.2
83    1.6
84    1.5
85    1.6
86    1.5
87    1.3
88    1.3
89    1.3
90    1.2
91    1.4
92    1.2
93    1.0
94    1.3
95    1.2
96    1.3
97    1.3
98    1.1
99    1.3
Name: petal_width, dtype: float64

In [23]:
df_virginica=df[df['species']=='virginica']['petal_width']
df_virginica

100    2.5
101    1.9
102    2.1
103    1.8
104    2.2
105    2.1
106    1.7
107    1.8
108    1.8
109    2.5
110    2.0
111    1.9
112    2.1
113    2.0
114    2.4
115    2.3
116    1.8
117    2.2
118    2.3
119    1.5
120    2.3
121    2.0
122    2.0
123    1.8
124    2.1
125    1.8
126    1.8
127    1.8
128    2.1
129    1.6
130    1.9
131    2.0
132    2.2
133    1.5
134    1.4
135    2.3
136    2.4
137    1.8
138    1.8
139    2.1
140    2.4
141    2.3
142    1.9
143    2.3
144    2.5
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, dtype: float64

In [28]:
stats.ttest_ind(df_setosa,df_versicolor,alternative="two-sided")

Ttest_indResult(statistic=-34.08034154357719, pvalue=3.831095388248162e-56)

In [31]:
stats.ttest_ind(df_setosa,df_virginica,alternative="two-sided")

Ttest_indResult(statistic=-42.7857975196172, pvalue=3.2303748184318025e-65)

In [33]:
# H0= petal lenght are equal
# H1= petal lenght are not equal

length_setosa=df[df['species']=='setosa']['petal_length']
length_setosa

0     1.4
1     1.4
2     1.3
3     1.5
4     1.4
5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.5
11    1.6
12    1.4
13    1.1
14    1.2
15    1.5
16    1.3
17    1.4
18    1.7
19    1.5
20    1.7
21    1.5
22    1.0
23    1.7
24    1.9
25    1.6
26    1.6
27    1.5
28    1.4
29    1.6
30    1.6
31    1.5
32    1.5
33    1.4
34    1.5
35    1.2
36    1.3
37    1.4
38    1.3
39    1.5
40    1.3
41    1.3
42    1.3
43    1.6
44    1.9
45    1.4
46    1.6
47    1.4
48    1.5
49    1.4
Name: petal_length, dtype: float64

In [34]:
length_versicolor=df[df['species']=='versicolor']['petal_length']
length_versicolor

50    4.7
51    4.5
52    4.9
53    4.0
54    4.6
55    4.5
56    4.7
57    3.3
58    4.6
59    3.9
60    3.5
61    4.2
62    4.0
63    4.7
64    3.6
65    4.4
66    4.5
67    4.1
68    4.5
69    3.9
70    4.8
71    4.0
72    4.9
73    4.7
74    4.3
75    4.4
76    4.8
77    5.0
78    4.5
79    3.5
80    3.8
81    3.7
82    3.9
83    5.1
84    4.5
85    4.5
86    4.7
87    4.4
88    4.1
89    4.0
90    4.4
91    4.6
92    4.0
93    3.3
94    4.2
95    4.2
96    4.2
97    4.3
98    3.0
99    4.1
Name: petal_length, dtype: float64

In [36]:
length_virginica=df[df['species']=='virginica']['petal_length']
length_virginica

100    6.0
101    5.1
102    5.9
103    5.6
104    5.8
105    6.6
106    4.5
107    6.3
108    5.8
109    6.1
110    5.1
111    5.3
112    5.5
113    5.0
114    5.1
115    5.3
116    5.5
117    6.7
118    6.9
119    5.0
120    5.7
121    4.9
122    6.7
123    4.9
124    5.7
125    6.0
126    4.8
127    4.9
128    5.6
129    5.8
130    6.1
131    6.4
132    5.6
133    5.1
134    5.6
135    6.1
136    5.6
137    5.5
138    4.8
139    5.4
140    5.6
141    5.1
142    5.1
143    5.9
144    5.7
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, dtype: float64

In [41]:
stats.ttest_ind(length_setosa,length_versicolor,alternative='two-sided') #pvalue is very small therefore petal lengths are different

Ttest_indResult(statistic=-39.492719391538095, pvalue=5.404910513441677e-62)

In [40]:
stats.ttest_ind(length_setosa,length_virginica,alternative='two-sided')

Ttest_indResult(statistic=-49.98618625709594, pvalue=1.5048006992427275e-71)